.wrapper {
  padding: 12px;
  min-height: 100dvh;
}

.wrapper::before {
  content: "";
  height: 100lvh;
  inset: 0;
  pointer-events: none;
  position: fixed;
  width: 100dvw;
}

.wrapper::before {
  background: red;
  /* border: solid 12px transparent;
  border-radius: 24px;
  mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
  mask-composite: subtract; */
  clip-path: rect(
    0 0 calc(100dvh - 24px * 2) calc(100dvw - 24px * 2) round 24px
  );
  inset: 24px;
}
