.borderWrapper {
  --border-size: 12px;
  --round-size: 12px;
  --border-color: red;

  margin: var(--border-size);
  min-height: 100dvh;
}

.borderWrapper::before,
.borderWrapper::after {
  background: var(--border-color);
  content: "";
  height: var(--border-size);
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100dvw;
}

.borderWrapper::before {
  top: 0;
}

.borderWrapper::after {
  bottom: 0;
}

.borderInner::before,
.borderInner::after {
  bottom: 0;
  content: "";
  background: var(--border-color);
  height: 100lvh;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: var(--border-size);
}

.borderInner::before {
  left: 0;
}

.borderInner::after {
  right: 0;
}

.corner {
  height: var(--round-size);
  margin: var(--border-size);
  overflow: hidden;
  position: fixed;
  width: var(--round-size);
}

.corner::before {
  background: var(--border-color);
  content: "";
  display: block;
  height: 200%;
  inset: inherit;
  mask: radial-gradient(var(--round-size), #0000 100%, #000);
  position: absolute;
  width: 200%;
}

.cornerTopLeft {
  inset: 0 auto auto 0;
}

.cornerTopRight {
  inset: 0 0 auto auto;
}

.cornerBottomRight {
  inset: auto 0 0 auto;
}

.cornerBottomLeft {
  inset: auto auto 0 0;
}
