.wrapper {
  padding: 12px;
  min-height: 100dvh;
}

.wrapper::before {
  background: red;
  content: "";
  height: 12px;
  pointer-events: none;
  position: fixed;
  width: 100dvw;
  inset: 0 0 auto 0;
}

.wrapper::after {
  background: blue;
  content: "";
  height: 12px;
  pointer-events: none;
  position: fixed;
  width: 100dvw;
  inset: auto 0 0 0;
}
